<!DOCTYPE html>
<html>
  <head>
    <title>Songs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Songs</h1>
    <ol id="songs"></ol>
    <div class="controls">
      <button class="prev" id="prev">Previous</button>
      <button class="next" id="next">Next</button>
    </div>
  </body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/songs.js"></script>
</html>
